@model Solution001.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>

    <center>
        <h1> UserNotFound </h1>
        <h3>ID:@Model.fname is undefined</h3>
    </center>
</body>
</html>

