@model POSTAPI.Models.Userinfo

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
</head>
<body>
    <h1>  @Model.userid </h1>
    <h1> @Model.userpassword</h1>
</body>
</html>

