@model POSTAPI.Models.Userinfo

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Typing</title>
</head>
<body>
    <form action="DoPost" method="post">
        <input type="text" name="userid" id="userid" />

        <input type="text" name="userpassword" id="userpassword" />
        <input type="submit" name="submit" id="submit" />


    </form>
</body>
</html>

