@model Solution001.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
</head>
<body>
    <h1> Result Page </h1>
    <p> 아이디:@Model.fname</p>
    <p> 비밀번호: @Model.lname </p>

</body>
</html>

